system hostname rt5
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
!
interfaces interface eth-rt3-1
 type iana-if-type:ethernetCsmacd
!
interfaces interface eth-rt3-2
 type iana-if-type:ethernetCsmacd
!
interfaces interface eth-rt4
 type iana-if-type:ethernetCsmacd
!
interfaces interface eth-rt6
 type iana-if-type:ethernetCsmacd
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-1
 isis system-id 0000.0000.0005
 isis area-address 49.0000
 isis metric-type value wide-only
 isis spb enable true
 !
 isis interfaces interface eth-rt3-1
  interface-type point-to-point
  hello-interval value 3
  !
 !
 isis interfaces interface eth-rt3-2
  interface-type point-to-point
  hello-interval value 3
  !
 !
 isis interfaces interface eth-rt4
  interface-type point-to-point
  hello-interval value 3
  !
 !
 isis interfaces interface eth-rt6
  interface-type point-to-point
  hello-interval value 3
  !
 !
!
