system hostname rt3
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 ipv4
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
 ipv4
!
interfaces interface eth-rt5-1
 type iana-if-type:ethernetCsmacd
 ipv4
!
interfaces interface eth-rt5-2
 type iana-if-type:ethernetCsmacd
 ipv4
!
routing control-plane-protocols control-plane-protocol ietf-rip:ripv2 main
 rip interfaces interface lo
 !
 rip interfaces interface eth-sw1
 !
 rip interfaces interface eth-rt5-1
 !
 rip interfaces interface eth-rt5-2
 !
!