system hostname rt1
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-1
 isis system-id 0000.0000.0001
 isis area-address 49.0000
 isis metric-type value wide-only
 isis spb enable true
 !
 isis spb service 00:00:00:00:00:01 1001
  isid 10001
  isid 10002
 !
 isis spb service 00:00:00:00:00:01 1002
  isid 20001
   transmit true
   receive true
  !
  isid 20002
   transmit true
   receive false
  !
 !
 isis interfaces interface eth-sw1
  hello-interval value 3
  priority value 1
 !
!