!
interfaces interface lo
 type iana-if-type:softwareLoopback
 ipv4
 !
 ipv4 address 3.3.3.3
  prefix-length 32
 !
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 10.0.1.3
  prefix-length 24
 !
 ipv4 vrrp vrrp-instance 1
  version vrrp-v3
  log-state-change true
  advertise-interval-centi-sec 1
  priority 30
  !
  virtual-ipv4-addresses virtual-ipv4-address 10.0.1.5
  virtual-ipv4-addresses virtual-ipv4-address 10.0.1.6
 !
!
