system hostname rt3
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
!
interfaces interface eth-rt5-1
 type iana-if-type:ethernetCsmacd
!
interfaces interface eth-rt5-2
 type iana-if-type:ethernetCsmacd
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-1
 isis system-id 0000.0000.0003
 isis area-address 49.0000
 isis metric-type value wide-only
 isis spb enable true
 !
 isis interfaces interface eth-sw1
  hello-interval value 3
  priority value 3
  !
 !
 isis interfaces interface eth-rt5-1
  interface-type point-to-point
  hello-interval value 3
  !
 !
 isis interfaces interface eth-rt5-2
  interface-type point-to-point
  hello-interval value 3
  !
 !
!
