!
interfaces interface eth-sw1 
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 10.0.1.1
  prefix-length 24
 !
 ipv4 vrrp vrrp-instance 1 
  log-state-change true
  advertise-interval-sec 1
  priority 10
  !
  virtual-ipv4-addresses virtual-ipv4-address 10.0.1.5
!
interfaces interface lo
 type iana-if-type:softwareLoopback
 ipv4
 !
 ipv4 address 1.1.1.1 
  prefix-length 32
!
