system hostname rt7
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 7.7.7.7
  prefix-length 32
 !
 ipv6 address 2001:db8:1000::7
  prefix-length 128
!
interfaces interface eth-rt6
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-1
 isis system-id 0000.0000.0007
 isis area-address 49.0003
 isis metric-type value wide-only
 isis mpls te-rid ipv4-router-id 7.7.7.7
 isis mpls te-rid ipv6-router-id 2001:db8:1000::7
 !
 isis interfaces interface lo
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt6
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
!
