!
interfaces interface lo
 type iana-if-type:softwareLoopback
 ipv4
 ipv6
 !
 ipv4 address 2.2.2.2
  prefix-length 32
 !
 ipv6 address 2001:db8:1000::2
  prefix-length 128
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 10.0.1.2
  prefix-length 24
 !
 ipv4 vrrp vrrp-instance 1
  log-state-change true
  advertise-interval-sec 1
  priority 20
  !
  virtual-ipv4-addresses virtual-ipv4-address 10.0.1.5
  virtual-ipv4-addresses virtual-ipv4-address 10.0.1.6
 !
 ipv6 vrrp vrrp-instance 1
  log-state-change true
  advertise-interval-centi-sec 1
  priority 20
  !
  virtual-ipv6-addresses virtual-ipv6-address 2001:0db8::0370:7334
  virtual-ipv6-addresses virtual-ipv6-address 2001:0db8::0370:7335
 !
!
