system hostname rt3
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 3.3.3.3
  prefix-length 32
 !
 ipv6 address 2001:db8:1000::3
  prefix-length 128
!
interfaces interface eth-sw1
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
interfaces interface eth-rt5-1
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
interfaces interface eth-rt5-2
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-2
 isis system-id 0000.0000.0003
 isis area-address 49.0000
 isis metric-type value wide-only
 isis topologies topology holo-isis:mt-topology-ipv6-unicast
 !
 isis interfaces interface lo
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-sw1
  hello-interval value 3
  priority value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt5-1
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt5-2
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
!
