system hostname rt4
!
interfaces interface lo
 type iana-if-type:ethernetCsmacd
 !
 ipv4 address 4.4.4.4
  prefix-length 32
 !
 ipv6 address 2001:db8:1000::4
  prefix-length 128
!
interfaces interface eth-rt2-1
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
interfaces interface eth-rt2-2
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
interfaces interface eth-rt5
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
interfaces interface eth-rt6
 type iana-if-type:ethernetCsmacd
 ipv4
 ipv6
!
routing control-plane-protocols control-plane-protocol ietf-isis:isis main
 isis level-type level-all
 isis system-id 0000.0000.0004
 isis area-address 49.0001
 isis metric-type value wide-only
 !
 isis address-families address-family-list ipv4
  enabled true
 !
 isis address-families address-family-list ipv6
  enabled true
 !
 isis interfaces interface lo
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt2-1
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt2-2
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt5
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
 isis interfaces interface eth-rt6
  interface-type point-to-point
  hello-interval value 3
  !
  address-families address-family-list ipv4
  !
  address-families address-family-list ipv6
 !
!
